{% extends "base.html" %}

{% block content %}

<style>
    form {
        width: 500px;
        height: auto;
        padding: 20px 20px 20px 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 50px auto;
        border-radius: 10px;
    }
    form p {
        text-align: center;
    }
    form h3 {
        text-align: center;
    }
</style>

<form action="" method="POST">
    {% csrf_token %}
    <h3>Forgot Password</h3>
    <p>Enter your email address to reset your password:</p>
    <input type="email" name="email" placeholder="Enter your email" required>
    <button type="submit" class="btn btn-primary">Send Reset Link</button>
</form>


{% endblock content %}
